@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Fira Sans', 'sans serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-pattern {
  background-image: url('../src/images/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-pattern-community {
  background: url(./images/pattern-community.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gradient-mtt {
  background-image: linear-gradient(
      90deg,
      rgba(184, 37, 52, 0.9) 0.06%,
      rgba(184, 37, 52, 0.33) 100%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./images/meet-the-team.webp);
  background-repeat: no-repeat;
}

.header-findit {
  background-image: url(./images/header-findit.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-findit-rotate {
  background-image: url(./images/header-findit.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.footer-bf {
  background-image: url(./images/footer-bf.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-mtt {
  background-image: url(./images/footer-mtt.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.shadow-slider {
  box-shadow: 10px 10px #404143, 20px 20px #ffffff;
}

.shadow-community {
  box-shadow: 7px 7px rgba(184, 37, 52, 1);
}

.active-nav {
  border-bottom: 2px solid #b82534;
}

.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: 13px;
  color: #b82534 !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: unset !important;
  right: 95px !important;
}

.showcase .swiper-pagination-bullet {
  background-color: beige;
  width: 20px;
  border-radius: 5px;
}

.swiper-button-next::after {
  content: url('../src/images/swiper-next.svg') !important;
}

.swiper-button-prev::after {
  content: url('../src/images/swiper-prev.svg') !important;
}

.skew {
  background-color: white;
  color: #b82534;
  -ms-transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  padding: 15px 35px;
  box-shadow: -10px 10px 0px #000000, -17px 17px 0px rgb(184, 37, 52),
    -21px 21px 0px rgba(255, 255, 255, 1);
}

.unskew {
  -ms-transform: skew(15deg);
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}

@media only screen and (max-width: 320px) {
  .adjustScreen {
    max-width: 120px;
  }
}

@media only screen and (max-width: 340px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 30px !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 80px !important;
  }
}
